.container {
  display: flex;
  margin: 100px auto 0;
  max-width: 1000px;
}

.my-info h1 {
  padding: 0;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

.my-info h3 {
  float: left;
  padding: 0;
  margin: 0 0 5px;
  font-size: 20px;
}

.about-me {
  font-size: 15px;
  text-align: left;
  padding: 30px;
  border-radius: 5px;
}

.bio {
  float: left;
}

.headshot {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.headshot img {
  height: 100%;
  width: 100%;
}
.professional-links {
  margin-top: 80px;
}

.professional-links p {
  display: inline;
}

.button-link {
  height: 35px;
  padding: 10px 20px;
  background-color: black;
  color: #eee;
  text-decoration: none;
  border-radius: 20px;
}
