.about-container {
  margin-top: 40px;
  padding:  0 50px 80px 50px;
}

.headshot {
  margin: 75px 0 25px 0;
  grid-column: 2/8;
  grid-row: 1;
}

.headshot img {
  height: 100%;
  width: 100%;
}

.about-me {
  grid-column: 1/9;
  grid-row: 2;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.about-me p {
  letter-spacing: 0.5px;
  font-size: 1em;
}

.greeting {
  letter-spacing: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

.my-info h1 {
  font-family: sans-serif;
  font-size: 2.25em;
  font-weight: 800;
  text-align: left;
  margin: 0 0 10px 0;
}

.my-info h3 {
  float: left;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 1.5em;
}

.my-info p {
  padding-bottom: 5px;
}

.bio {
  margin-bottom: 40px;
}

.social-container {
  display: flex;
  margin: 0 auto;
}

.socials-list-holder {
  display: flex;
}

#resume-link {
  border: 1.5px solid black;
  color: black;
  font-family: Space Grotesk, sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  height: 35px;
  background-color: transparent;
}

#resume {
  margin-right: 30px;
  margin-top: 11.5px;
}

#linkedin {
  width: 35px;
  margin-right: 25px;
}

#linkedin img {
  height: 100%;
  width: 100%;
}

#github {
  width: 37px;
  margin-right: 25px;
}

#github img {
  height: 100%;
  width: 100%;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets & laptops */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
