.about-container {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  
}

.greeting {
  letter-spacing: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

.my-info h1 {
  padding: 0;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: left;
  margin: 5px 0 10px;
}

.my-info h3 {
  float: left;
  padding: 0;
  margin: 0 0 5px;
  font-size: 20px;
}

.my-info p {
  padding-bottom: 5px;
}

.about-me {
  font-size: 15px;
  text-align: left;
  padding: 30px 0 30px 30px;
  max-width: 600px;
}

.about-me p {
  letter-spacing: .5px;
  font-size: 17px;
}

.bio {
  float: left;
  margin: 0 0 40px 0;
  /* margin: 40px 0 0 0; */
}

.headshot {
  height: 250px;
  width: 250px;
  /* margin-left: auto; */
  margin-right: 50px;
}

.headshot img {
  height: 100%;
  width: 100%;
}

.social-container {
  display: block;
   /* margin-top: 30px; */
   align-items: center;
}

#resume-link {
  border: 2px solid black;
  border-radius: 1px;
  color: black;
  font-family: Space Grotesk, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: normal;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  height: 35px;
  background-color: transparent;
}

#resume {
  margin-top: 50px;
  white-space: normal;
  padding: 0;
}

#resume-link:hover {
  border: 3px solid black;
}

.socials-list {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.socials-list li {
  margin: 10px 0 0 18px;

}

.socials-list li a {
  display: inline-block;
 
}

.socials-list li a img {
  display: inline-block;
 
}

#linkedin {
  height: 30px;
  width: 30px;
  padding-top: 10px;
}

#linkedin img {
  height: 100%;
  width: 100%;
}

#github {
  height: 33px;
  width: 33px;
  padding-top: 8px;
}

#github img {
  height: 100%;
  width: 100%;
}

@media (max-width: 450px) {
  .about-container {
    flex-direction: column;
    margin-top: 70px;
    max-width: 325px;

  }
}

@media (max-width: 450px) {
  .headshot {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  
    /* margin-right: 50px; */
  }
}