.contact-container {
  padding: 30px;
}

.inner-container {
  grid-column: 1/9;
  display: grid;
  box-shadow: 0px 14px 28px rgba(135, 136, 137, 0.08);
  background: rgb(232, 231, 231);
  border-radius: 15px;
  padding: 120px 0 75px;
}
h1 {
  grid-column: 1/9;
  grid-row: 1;
  margin: 0;
  font-size: 2.5em;
  text-align: center;
}
.inner-container p {
  grid-column: 1/9;
  grid-row: 2;
  font-size: 0.85em;
}

.thanks {
  letter-spacing: 0.5px;
  padding: 30px 30px 40px;
}

.message-button {
  border: 1px solid black;
  border-radius: 1px;
  color: black;
  font-family: Space Grotesk, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: normal;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  height: 35px;
}

.message-button:hover {
  border: 2px solid black;
}

.button-holder {
  grid-column: 3/7;
  grid-row: 3;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .contact-container {
    padding: 80px;
  }
  .thanks {
    padding: 20px 50px 40px;
  }
}

/* large tablets & laptops */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
