.footer {
    height: 55px;
    background: linear-gradient(128deg, rgb(85, 82, 83) 0%, rgb(2, 2, 2) 100%);
    padding: 20px 100px;
    overflow-x: hidden;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

.signature {
    grid-column: 2/8;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 1px;
  }