.app-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  
}
.wrapper {
    background-image: linear-gradient(to right, rgb(196, 196, 189) , rgb(250, 250, 245));
    /* background-image: linear-gradient(to right, rgb(23, 22, 22) , rgb(69, 69, 65)); */
}
.App {
  text-align: center;
}

.container {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow: auto;

}

.page {
  scroll-snap-align: start;
  height: 100vh;
}

.about {
  padding-top: 50px;
}


