.app-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.container {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  /* border: 2px solid yellow; */
  align-items: center;
  justify-content: center;
}

.project-page {
  scroll-snap-align: start;
  /* border: 2px solid yellow; */
}

.about {
  padding-top: 50px;
}
