body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* reset (reseting default browser styles*/
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* mobile styles (primary) */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets & laptops */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}