.nav-bar-wrapper {
    background-color: black;
}

.nav-bar {
    margin: 0px 0px 20px 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-bar h4 {
    color: white;
    margin: 0px 0px 0px 20px;
}
    
.nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li:hover {
            background-color: #333;
          }

.nav-bar li a {
          display: block;
          color: white;
          text-align: center;
          text-decoration: none;
}

.nav-bar li a :hover {
            background-color: #333;
          }