.nav-bar-wrapper {
  background: linear-gradient(128deg, rgb(85, 82, 83) 0%, rgb(2, 2, 2) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
  display: flex;
  align-items: center;
}

.nav-bar {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-menu {
  position: fixed;
  right: -100%;
  top: 60px;
  gap: 0;
  flex-direction: column;
  background: black;
  opacity: 0.9;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu.active {
  right: 0;
}

.nav-item {
  margin: 16px 0;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(201, 195, 195);
}

.nav-bar img {
  margin-left: 40px;
}

.nav-bar .scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-bar h4 {
  color: white;
  margin: 0px 0px 0px 50px;
}

.hamburger {
  cursor: pointer;
  margin-right: 50px;
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background: white;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets & laptops */
@media screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }

  .nav-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: min-content;
    background: none;
    opacity: 0.9;
    list-style: none;
    margin: 0 50px 0 0;
    padding: 0;
    top: 0;
    right: 0;
  }

  .nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-link {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: rgb(201, 195, 195);
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
